<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionInset</key>
		<string>0</string>
		<key>FistClassName</key>
		<string>Ocean_bannerCell</string>
		<key>itemSpace</key>
		<string>0</string>
		<key>itemNumber</key>
		<string>1</string>
		<key>lineNum</key>
		<string>1</string>
		<key>H</key>
		<string>230</string>
	</dict>
	<dict>
		<key>sectionInset</key>
		<string>0</string>
		<key>FistClassName</key>
		<string>Ocean_FirstPageFunctionCell</string>
		<key>itemSpace</key>
		<string>0</string>
		<key>itemNumber</key>
		<string>1</string>
		<key>lineNum</key>
		<string>1</string>
		<key>H</key>
		<string>155</string>
	</dict>
	<dict>
		<key>sectionInset</key>
		<string>0</string>
		<key>FistClassName</key>
		<string>Ocean_FirstAnnouncementCell</string>
		<key>itemSpace</key>
		<string>0</string>
		<key>itemNumber</key>
		<string>1</string>
		<key>lineNum</key>
		<string>1</string>
		<key>H</key>
		<string>45</string>
	</dict>
	<dict>
		<key>FistClassName</key>
		<string>Ocean_FistHotGoodsCell</string>
		<key>itemSpace</key>
		<string>5</string>
		<key>itemNumber</key>
		<string>5</string>
		<key>lineNum</key>
		<string>3</string>
		<key>H</key>
		<string>200</string>
		<key>sectionInset</key>
		<string>10</string>
	</dict>
	<dict>
		<key>sectionInset</key>
		<string>0</string>
		<key>FistClassName</key>
		<string>Ocean_RecommendStoreCell</string>
		<key>itemSpace</key>
		<string>4</string>
		<key>itemNumber</key>
		<string>10</string>
		<key>lineNum</key>
		<string>1</string>
		<key>H</key>
		<string>155</string>
	</dict>
</array>
</plist>
