<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ClassName</key>
		<string>Ocean_MianPageViewController</string>
		<key>Title</key>
		<string>首页</string>
		<key>ImageName_N</key>
		<string>home</string>
		<key>ImageName_H</key>
		<string>home_pre</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>Ocean_FindMeViewController</string>
		<key>Title</key>
		<string>寻ME</string>
		<key>ImageName_N</key>
		<string>fa</string>
		<key>ImageName_H</key>
		<string>fa_pre</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>Ocean_SessionViewController</string>
		<key>Title</key>
		<string>聊天</string>
		<key>ImageName_N</key>
		<string>msm</string>
		<key>ImageName_H</key>
		<string>msm_pre</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>ShoppingCartViewController</string>
		<key>Title</key>
		<string>购物车</string>
		<key>ImageName_N</key>
		<string>shop</string>
		<key>ImageName_H</key>
		<string>shopSelect</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>MeViewController</string>
		<key>Title</key>
		<string>我的</string>
		<key>ImageName_N</key>
		<string>user</string>
		<key>ImageName_H</key>
		<string>user_pre</string>
	</dict>
</array>
</plist>
