<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string></string>
		<key>icon</key>
		<string>xin</string>
		<key>title</key>
		<string>征信</string>
	</dict>
	<dict>
		<key>className</key>
		<string></string>
		<key>icon</key>
		<string>qicc</string>
		<key>title</key>
		<string>企查查</string>
	</dict>
	<dict>
		<key>className</key>
		<string>Ocean_EnterStoreController</string>
		<key>icon</key>
		<string>shop</string>
		<key>title</key>
		<string>渠道对接</string>
	</dict>
	<dict>
		<key>className</key>
		<string>Ocean_FinshingInfoController</string>
		<key>icon</key>
		<string>Mian_card</string>
		<key>title</key>
		<string>卡片申请</string>
	</dict>
	<dict>
		<key>className</key>
		<string></string>
		<key>icon</key>
		<string>clothes</string>
		<key>title</key>
		<string>衣</string>
	</dict>
	<dict>
		<key>className</key>
		<string></string>
		<key>icon</key>
		<string>food</string>
		<key>title</key>
		<string>食</string>
	</dict>
	<dict>
		<key>className</key>
		<string></string>
		<key>icon</key>
		<string>zhu</string>
		<key>title</key>
		<string>住</string>
	</dict>
	<dict>
		<key>className</key>
		<string></string>
		<key>icon</key>
		<string>xing</string>
		<key>title</key>
		<string>行</string>
	</dict>
</array>
</plist>
