<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>icon</key>
		<string>生肖_1</string>
		<key>title</key>
		<string>公交地铁查询</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>icon</key>
		<string>生肖_2</string>
		<key>title</key>
		<string>火车票查询</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>icon</key>
		<string>生肖_3</string>
		<key>title</key>
		<string>驾驶扣分查询</string>
	</dict>
	<dict>
		<key>type</key>
		<string>4</string>
		<key>icon</key>
		<string>生肖_4</string>
		<key>title</key>
		<string>身份证认证</string>
	</dict>
	<dict>
		<key>type</key>
		<string>5</string>
		<key>icon</key>
		<string>生肖_5</string>
		<key>title</key>
		<string>新华字典</string>
	</dict>
	<dict>
		<key>type</key>
		<string>6</string>
		<key>icon</key>
		<string>生肖_6</string>
		<key>title</key>
		<string>新闻链接</string>
	</dict>
	<dict>
		<key>type</key>
		<string>7</string>
		<key>icon</key>
		<string>生肖_7</string>
		<key>title</key>
		<string>营业执照查询</string>
	</dict>
	<dict>
		<key>type</key>
		<string>8</string>
		<key>icon</key>
		<string>生肖_8</string>
		<key>title</key>
		<string>智能问答</string>
	</dict>
	<dict>
		<key>type</key>
		<string>9</string>
		<key>icon</key>
		<string>生肖_9</string>
		<key>title</key>
		<string>周公解梦</string>
	</dict>
	<dict>
		<key>type</key>
		<string>10</string>
		<key>icon</key>
		<string>生肖_10</string>
		<key>title</key>
		<string>全国快递物流查询</string>
	</dict>
	<dict>
		<key>type</key>
		<string>11</string>
		<key>icon</key>
		<string>生肖_11</string>
		<key>title</key>
		<string>IP地址查询</string>
	</dict>
	<dict>
		<key>type</key>
		<string>12</string>
		<key>icon</key>
		<string>生肖_12</string>
		<key>title</key>
		<string>手机号码归属地查询</string>
	</dict>
</array>
</plist>
